#include <dt-bindings/zmk/matrix_transform.h>
#include "aaa-layouts.dtsi"

{
    chosen {
        zmk,physical-layout = &physical_layout0;
    };

    keymap_transform_0: keymap_transform_0 {
        compatible = "zmk,matrix-transform";
        rows = <2>;
        columns = <2>;

        map = <
            RC(0,0) RC(0,1)
            RC(1,0) RC(1,1)
        >;
    };
};
