/ {
    keymap {
        compatible = "zmk,keymap";

        base_layer {
            bindings = <
                // 左手
                &kp Q &kp W &kp E &kp R &kp T
                &kp A &kp S &kp D &kp F &kp G
                &kp Z &kp X &kp C &kp V &kp B
                &mo LOWER &mt LCTL SPC

                // 右手
                &kp Y &kp U &kp I &kp O &kp P
                &kp H &kp J &kp K &kp L &kp SEMI
                &kp N &kp M &kp COMMA &kp DOT &mt FUNC SLASH
                &mt RSFT SPC &mo RAISE
            >;
        };

        num_layer {
            bindings = <
                // 左手
                &kp KP_SLASH &kp KP_7 &kp KP_8 &kp KP_9 &kp KP_MINUS
                &kp KP_ASTERISK &kp KP_4 &kp KP_5 &kp KP_6 &kp KP_PLUS
                &kp TAB &kp KP_1 &kp KP_2 &kp KP_3 &kp KP_ENTER
                &mo LOWER &mt LCTL SPC

                // 右手
                &kp KP_0 &kp KP_DOT &kp KP_EQUAL &kp KP_COMMA &kp KP_COLON
                &kp KP_LEFT_PAREN &kp KP_RIGHT_PAREN &kp KP_LEFT_BRACKET &kp KP_RIGHT_BRACKET &kp KP_BSLH
                &kp KP_MINUS &kp KP_PLUS &kp KP_ASTERISK &kp KP_SLASH &kp KP_ENTER
                &mt FUNC SLASH &tog NUM
            >;
        };

        lower_layer {
            bindings = <
                // 左手
                &kp EXCL &kp AT &kp HASH &kp DOLLAR &kp PERCENT
                &kp CAPS &kp TAB &kp BSPC &kp ESC &kp DEL
                &kp LSFT &kp LCTL &kp LALT &kp LGUI &kp PSCR
                &mo LOWER &mt LCTL SPC

                // 右手
                &kp CARET &kp AMPERSAND &kp ASTERISK &kp INS &kp PAUSE
                &none &kp MINUS &kp PLUS &kp PIPE &kp DQT
                &kp TILDE &kp RGUI &kp RALT &kp RCTL &kp RSFT
                &kp ENT &mt ADJUST ENT
            >;
        };

        raise_layer {
            bindings = <
                // 左手
                &kp 1 &kp 2 &kp 3 &kp 4 &kp 5
                &kp LEFT_PAREN &kp RIGHT_PAREN &kp LEFT_BRACKET &kp RIGHT_BRACKET &kp LEFT_BRACE
                &kp LSFT &kp LCTL &kp LALT &kp LGUI &none
                &mt LMOD LANG0 &trans

                // 右手
                &kp 6 &kp 7 &kp 8 &kp 9 &kp 0
                &kp RIGHT_BRACE &kp MINUS &kp EQUAL &kp BSLH &kp GRAVE
                &kp ENT &mt ADJUST ENT &trans &trans &trans
                &mt FUNC SLASH &mo RAISE
            >;
        };

        func_layer {
            bindings = <
                // 左手
                &kp F1 &kp F2 &kp F3 &kp F4 &kp F5
                &kp F6 &kp F7 &kp F8 &kp F9 &kp F10
                &kp LSFT &kp LCTL &kp LALT &kp LGUI &mt ADJUST ENT
                &none &none

                // 右手
                &kp F11 &kp F12 &kp UP &kp HOME &kp END
                &kp PGUP &kp LEFT &kp RIGHT &kp RCTL &tog NUM
                &kp PGDN &kp DOWN &kp RCTL &kp RSFT &none
                &kp RALT &kp RGUI
            >;
        };

        lmod_layer {
            bindings = <
                // 左手
                &kp VOLDN &kp VOLUP &kp MUTE &none &none
                &kp PREV &kp PLAY &kp NEXT &none &none
                &kp Y &kp U &kp I &kp O &kp P
                &mo LOWER &mt LCTL SPC

                // 右手
                &kp H &kp J &kp K &kp L &kp SEMI
                &kp N &kp M &kp COMMA &kp DOT &kp SLASH
                &kp RALT &kp RGUI &kp RCTL &kp RSFT &none
                &mt FUNC SLASH &mo RAISE
            >;
        };

        rmod_layer {
            bindings = <
                // 左手
                &kp CARET &kp AMPERSAND &kp ASTERISK &kp INS &kp PAUSE
                &none &kp MINUS &kp PLUS &kp PIPE &kp DQT
                &kp TILDE &kp RGUI &kp RALT &kp RCTL &kp RSFT
                &mo LOWER &mt LCTL SPC

                // 右手
                &kp ENT &mt ADJUST ENT &trans &trans &trans
                &kp N &kp M &kp COMMA &kp DOT &kp SLASH
                &kp RALT &kp RGUI &kp RCTL &kp RSFT &none
                &mt FUNC SLASH &mo RAISE
            >;
        };

        adjust_layer {
            bindings = <
                // 左手
                &kp LANG0 &mo LMOD &mo RMOD &none &none
                &kp RESET &kp BT_CLR &kp OUT_TOG &none &none
                &kp BOOT &kp BT_NEXT &kp BT_PREV &none &none
                &mo LOWER &mt LCTL SPC

                // 右手
                &kp N &kp M &kp COMMA &kp DOT &kp SLASH
                &kp RALT &kp RGUI &kp RCTL &kp RSFT &none
                &kp ENT &mt ADJUST ENT &trans &trans &trans
                &mt FUNC SLASH &mo RAISE
            >;
        };
    };
};
